<h1>All my bookings</h1>

<%# J3 %>

<ul>
  <% @bookings.each do |b| %>
    <li><%= b.offer.title %></li>
    <li>From: <%= b.start_date %></li>
    <li>Until: <%= b.end_date %></li>
  <% end %>
</ul>

<% console %>
