<h1>Toutes mes Réservations</h1>

<%# J3 %>

<ul>
  <% @bookings.each do |b| %>
    <li><%= b.offer.title %></li>
    <li>à partir de: <%= b.start_date %></li>
    <li>jusqu'à: <%= b.end_date %></li>
  <% end %>
</ul>

<% console %>
