<div class="banner">
  <div class="container">
    <h1>CHEWIE<br /><span>'NB</span></h1>
    <h2>Que la location soit avec toi!</h2>
  </div>
</div>

    <%# <p>Chewie'nb votre seul espoir</p> %>
    <%# <%= link_to "Now login", new_user_session_path, class: "btn_banner"%>
