<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.breakflip.com/uploads/AAA/Electronic%20Arts/Star%20Wars%20%3A%20Battlefront%20II/Vaisseaux/swbf2_xwing_breakflip.jpg);">
  <div class="container">
    <h1>Que la location soit avec toi!</h1>
    <p>Chewie'nb votre seul espoir</p>
    <a class="btn_banner btn-flat" href="#">Now login</a>
  </div>
</div>
