<div class="cards">
  <% @offers.each do |offer| %>
    <div class="card">
          <img src="https://www.starwars-universe.com/images/encyclopedie/vaisseaux_vehicules/avatars_v6/t70_avv6.jpg" />
          <div class="card-infos">
            <div>
              <h2 class="card-title"><%= link_to offer.title, offer_path(offer) %></h2>
              <p class="card-text"><%=offer.description%></p>
            </div>
            <h2 class="card-pricing">500$</h2>
            <p class="card-rating"> 5 <i class="fa-solid fa-star"></i></p>
          </div>
    </div>
  <% end %>
</div>
