<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="padding-top: 35px;">
  <div class="carousel-inner" style="border-radius: 20px;">
    <div class="carousel-item active" style="border-radius: 20px;">
      <img class="d-block w-100" src="https://i.pinimg.com/originals/23/de/2e/23de2ea2429e54fd68286889df28966a.jpg" alt="First slide">
    </div>
    <div class="carousel-item" style="border-radius: 20px;">
      <img class="d-block w-100" src="https://images4.alphacoders.com/199/thumb-1920-199536.jpg" alt="Second slide">
    </div>
    <div class="carousel-item" style="border-radius: 20px;">
      <img class="d-block w-100" src="https://s1.1zoom.me/big0/89/406590-sepik.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
