
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" data-controller="toto">
  <div class="carousel-inner" style="border-radius: 20px;">
    <div class="carousel-item active">
      <%= image_tag "fauconm.png", class:"d-block w-100", size: "300x300" %>
      <%# <img class="d-block w-100" src="https://i.pinimg.com/originals/cb/00/63/cb00638fb742656da1d97c3bed8b7555.jpg" alt="First slide"> %>
    </div>
    <div class="carousel-item">
      <%= image_tag "vaisseau2.png", class:"d-block w-100", size: "300x300"%>
      <%# <img class="d-block w-100" src="https://images4.alphacoders.com/573/573434.jpg" alt="Second slide"> %>
    </div>
    <div class="carousel-item">
      <%= image_tag "xwing.png", class:"d-block w-100", size: "300x300"%>
      <%# <img class="d-block w-100" src="https://e7.pngegg.com/pngimages/750/900/png-clipart-millennium-falcon-star-wars-film-germany-star-wars-editing-%D1%81%D0%BE%D0%BA%D0%BE%D0%BB.png"> %>
    </div>
  </div>
</div>
