<div class="direction d-flex justify-content-around">
    <%= link_to 'Add new offer', new_offer_path, class: "btn_direction"%>
    <%= link_to 'See all starships', offers_path, class: "btn_direction"%>
  </div>
