
<%= render "shared/banner" %>
<%= render "shared/flashes" %>

<div class="container">
  <h1>La list</h1>

  <%= link_to 'Add new offer', new_offer_path %>

  <div class="row">
    <%= render "shared/card" %>
  </div>
</div>

<% console %>
