<%= render "shared/banner" %>
<%= render "shared/flashes" %>

<div class="container">

  <%# <h1>Une phrase d'accorche</h1> %>

  <%= render "shared/direction" %>

  <%= render "shared/carousel" %>

</div>
