<div class="content">
  <h1>Dashboard</h1>
    <div class="stats">
    <h3>Stats</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem minima vero rem dolor labore! Itaque ad earum numquam nihil assumenda? Nemo soluta quam eius similique error reprehenderit atque animi reiciendis.</p>
  </div>
  <div class="annonces">
    <h3 class="nom_vehicules">millenium falcon</h3>
    <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
</p>
    <a class="btn btn_primary">
  </div>

  <div class="annonces">
    <h3 class="nom_vehicules">Tie Figther</h3>
    <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
</p>
    <a class="btn btn_primary">
  </div>

 <div class="annonces">
    <h3 class="nom_vehicules">Speed Bike</h3>
    <p class="description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
</p>
    <a class="btn btn_primary">
  </div>

</div>
<h1>Tu cherches des filles dans ta région</h1>
<%= image_tag "home_photo", width: 300%>
