.alert-warning {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color:rgba(0, 0, 0, 0.906);
  box-shadow: 2px 2px 15px 7px rgb(143,13,27);
  color: rgb(143,13,27);
  font-family: 'Coustard', serif;
  font-size: 25px;
}

.alert-warning .btn-close {
  background-color: rgb(143,13,27);
  height: 5px;
  width: 5px;
}


.alert-info {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color:rgba(0, 0, 0, 0.906);
  box-shadow: 2px 2px 15px 7px rgb(59,209,62);
  color: rgb(59,209,62);
  font-family: 'Coustard', serif;
  font-size: 25px;
}

.alert-info .btn-close {
  background-color: rgb(59,209,62);
  height: 5px;
  width: 5px;

}

.alert img {
  height: 60px;
  width: 60px;
  border-radius: 3px;
}
