.form-container {
  margin: 25px 50px;
}

.grid_form {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url('https://www.geekalerts.com/u/Star-Wars-Millennium-Falcon-Peel-and-Stick-Mural.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  border: 3px solid rgb(255, 232, 24);
  margin-bottom: 50px;
}


.titre_form {
  color: rgb(255,232,24);
  font-family: 'Alfa Slab One', 'Anton', sans-serif;
}

.form_title_review {
  color: rgba(255, 255, 255, 0);
  text-align: center;
}

.form_title {
  color: rgb(255,232,24);
  font-family: 'Coustard', serif;
  text-align: center;
  font-size: 20px;
}

.btn_form_offer {
  color: rgb(255,232,24);
  border-bottom: 5px solid rgb(255,232,24);
  border-top: 5px solid rgb(255,232,24);
  font-family: 'Coustard', serif;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
  padding: 0px;

  &:hover {
    color: rgb(255,232,24);
  }
}

.signup-btn {
  background-color: rgb(255,232,24);
  border-radius: 5px;
  color: white;
}

.case_form {
  opacity: 0.7;
}

.login-btn {
  background-color: #02bb02;
  display: inline-block;
  margin: 15px 0;
  padding: 6px 12px;
  border-radius: 5px;

  & > a {
    color: white;
    text-decoration: none;

  }

  &:hover {
    opacity: 0.8;
  }
}
