.form_search {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
}

.form_taille {
  width: 60%;
}


.form-control {
  opacity: 0.7;
}

.btn_search {
  color: #ffe818;
  font-family: 'Coustard', serif;
  font-size: 20px;
  background: unset;
  width: 40px;
  border: 0px;
  // padding: 0px;
    &:hover {
      color: rgb(255,232,24);
    }
}
