<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été verrouillé en raison d'un trop grand nombre de  tentatives de connections infructueuses répétées dans un laps de temps trop court.</p>

<p>Cliquez sur le lien ci dessous pour déverrouiller votre compte:</p>

<p><%= link_to 'Unlock my account', unlock_url(@resource, unlock_token: @token) %></p>
